/* Open Sans @font-face kit */

/* BEGIN Light */
@font-face {
  font-family: 'opensans_lgt';
  src: url('fonts/opensans/light/OpenSans-Light.eot');
  src: url('fonts/opensans/light/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/light/OpenSans-Light.woff') format('woff'),
       url('fonts/opensans/light/OpenSans-Light.ttf') format('truetype'),
       url('fonts/opensans/light/OpenSans-Light.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
/* END Light */


/* BEGIN Light */
@font-face {
  font-family: 'opensans_light_itlc';
  src: url('fonts/opensans/lightitalic/OpenSans-LightItalic.eot');
  src: url('fonts/opensans/lightitalic/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/lightitalic/OpenSans-LightItalic.woff') format('woff'),
       url('fonts/opensans/lightitalic/OpenSans-LightItalic.ttf') format('truetype'),
       url('fonts/opensans/lightitalic/OpenSans-LightItalic.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: italic;
}
/* END Light */


/* BEGIN Regular */
@font-face {
  font-family: 'opensans_reg';
  src: url('fonts/opensans/regular/OpenSans-Regular.eot');
  src: url('fonts/opensans/regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/regular/OpenSans-Regular.woff') format('woff'),
       url('fonts/opensans/regular/OpenSans-Regular.ttf') format('truetype'),
       url('fonts/opensans/regular/OpenSans-Regular.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* END Regular */


/* BEGIN Semibold */
@font-face {
  font-family: 'opensans_smbld';
  src: url('./fonts/opensans/semibold/OpenSans-Semibold.eot');
  src: url('./fonts/opensans/semibold/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/opensans/semibold/OpenSans-Semibold.woff') format('woff'),
       url('./fonts/opensans/semibold/OpenSans-Semibold.ttf') format('truetype'),
       url('./fonts/opensans/semibold/OpenSans-Semibold.svg#OpenSansSemibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Semibold */


/* BEGIN Bold */
@font-face {
  font-family: 'opensans_bld';
  src: url('fonts/opensans/bold/OpenSans-Bold.eot');
  src: url('fonts/opensans/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/opensans/bold/OpenSans-Bold.woff') format('woff'),
       url('fonts/opensans/bold/OpenSans-Bold.ttf') format('truetype'),
       url('fonts/opensans/bold/OpenSans-Bold.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* END Bold */

