@media (min-width:0px) and (max-width:1280px) {

}
@media (min-width:0px) and (max-width:1024px) {
#Screenfive .savepicBox ul li:nth-child(4) { padding-bottom:1px;}
}
@media screen and (max-width: 960px){
.warps {margin: 0 5%;width: 90%;}
.ipsm3 {}
}
@media (min-width:0px) and (max-width:800px) {
span.selected {width: 85%;}
span.selectArrow {width: 15%;}   
.ipsm3 {width: 220px;}
select.ipsm3 {width: 220px;}
#applicationForm #datecorp p span.k-datepicker, .rptBoxmain p span.k-datepicker {width: 220px;}
#applicationForm #datecorp p span.k-datepicker span.k-picker-wrap, .rptBoxmain p span.k-datepicker span.k-picker-wrap {width: 220px;}
.ipsm4 {width: 466px;}
textarea.ipsm10 {width: 712px;}
select.ipsm4 {width: 467px;}
#screenTwo .rptBox.first .addmore {width: 220px;}
.scrnThrbgBox  {margin-top:150px;}
#Screenfive .savepicBox ul li {height: 154px;}
#Screenfive .savepicBox ul li.active > .right {top: 0px;}
#screenfor .documentListBox ul li .docsBluBox {width: 18%; padding-right:3%; }
#screenfor .documentListBox ul li .docsBluBox span img { width:100%;}
#screenfor .documentListBox ul li .uplodSecn span {padding-bottom: 15px;font-size: 2em;line-height: 1em;}
#attachUpdateDiv .km-button {padding: 12px 15px !important;}
#Screenfive .savepicBox ul li .right img {width: 100.2%;}
#screenfor .documentListBox ul li .docsBluBox span {height: 82px;}
#screenfor .checkSavePic .uploadPic{height: 82px;overflow: hidden;}
}
@media (min-width:0px) and (max-width:768px) {

}
@media (min-width:0px) and (max-width:640px) {

}
@media (min-width:0px) and (max-width:630px) {

}

@media (min-width:0px) and (max-width:600px) {

}

@media (min-width:0px) and (max-width:599px) {

}
@media (min-width:0px) and (max-width:533px) {

}


@media (min-width:0px) and (max-width:440px) {

}
@media (min-width:0px) and (max-width:410px) {


}
@media (min-width:0px) and (max-width:390px) { 

}
@media (min-width:0px) and (max-width:370px) {

}
@media (min-width:0px) and (max-width:320px) {

}

@media screen and ( max-height: 390px ){

}

